<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3d8af50c2d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="css/bs/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>TEST</title>
</head>

<body>
    <div class="container">
        <div class="box" id="heading">
            <h1>Wishlist</h1>
        </div>

        <div class="box">
            <div class="mainView">
                <h3>Total Price: <%= TotalPrice %> €</h3>
                <div class="table">
                    <table>

                        <th>
                            <p>Wish</p>
                        </th>
                        <th>
                            <p>Price</p>
                        </th>
                        <th>
                            <p></p>
                        </th>

                        <% for(let i = 0; i < wishItems.length; i++) { %>
                        <tr>
                            <td>
                                <%= wishItems[i].description %>
                            </td>
                            <td>
                                <%= wishItems[i].price %>
                            </td>
                            <td>
                                <form id="formDelete" action="/delete" method="POST">
                                    <div class="delete-btn">
                                        <input type="hidden" value="<%= wishItems[i].description %>" name="wishDelete">
                                        <button type="submit" class="fas fa-trash-alt"></button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <% } %>

                    </table>
                </div>

                <form action="/" method="POST">
                    <input id="description_field" type="text" name="newWish" placeholder="Add a Wish"
                        value="example wish" required="true">
                    <input id="price_field" type="number" step="0.01" min="0" name="newPrice" placeholder="Add a Price"
                        value="0.99" required="true">
                    <br>
                    <button id="add-btn" type="submit" class="btn btn-primary submit-button">Add Wish</button>
                </form>
            </div>
        </div>

        <footer>
            <span class="footer">Rauno Järvela. &#169 2021</span>
        </footer>
    </div>
</body>

</html>