:root {
    --dark-color: #c51423;
    --light-color:  #b80018;
  
  }
  
  html {
      background-repeat: no-repeat;
      min-height: 1500px;
      font-family: 'helvetica neue';
    }
    
    h1 {
      color: rgb(0, 217, 255);
      padding: 5px;
    }
    
    .container {
      height: 100vh;
    }

    .box {
      max-width: 410px;
      margin: 0px auto;
      background: rgb(118, 128, 129);
      border-radius: 5px;
      box-shadow: 5px 5px 15px -5px rgba(105, 49, 49, 0.3);
    }

    .mainView {
      margin: auto;
      padding: 15px;
    }
    
    #heading {
      background-color: rgb(192, 192, 192);
      text-align: center;
    }
    
    .item {
      min-height: 70px;
      display: flex;
      align-items: center;
    }
    
    .item:last-child {
      border-bottom: 0;
    }
    
    input:checked+p {
      text-decoration: line-through;
      text-decoration-color: var(--dark-color);
    }
    
    input[type="checkbox"] {
      margin: 20px;
    }
    
    p {
      margin: 0;
      padding: 20px;
      font-size: 20px;
      font-weight: 200;
      color: #00ff62;
    }

    table {
      border-collapse: initial;
    }

    .table {
      text-align: center;
      margin-left: 20px;
    }

    th {
      padding-left: 2rem;
      padding-right: 2rem;
      border-bottom: 1px solid #F1F1F1;
      font-weight: 900;
    }

    td {
      text-align: center;

      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: 200;

      border-bottom: 1px solid #F1F1F1;
    }

    #description_field {
      text-align: left;
      margin-left: 20px;
      padding: 10px;
      font-size: 20px;
      font-weight: 200;
    }
    #price_field {
      text-align: left;
      margin-left: 20px;
      padding: 20px;
      font-size: 20px;
      font-weight: 200;
    }

    button, button:active {
      text-decoration: none;
      background: transparent;
      border: none;
    }

    .fa-trash-alt {
      text-decoration: none;
      color: red;
      font-size: 2rem;
    }

    .submit-button {
      margin-top: 1.5rem;
      margin-left: 20px;
    }
    
    input {
      margin: 0.5rem;
    }

    input[type="text"] {
      text-align: center;
      height: 40px;
      top: 10px;
      border-radius: 5px;
      border: 1px solid #F1F1F1;
      background: transparent;
      font-size: 20px;
      font-weight: 200;
      width: 313px;
    }

    input[type="number"] {
      text-align: center;
      height: 20px;
      top: 10px;
      border-radius: 5px;
      border: 1px solid #753838;
      background: transparent;
      font-size: 20px;
      font-weight: 200;
    }
    
    input[type="text"]:focus, input[type="number"]:focus {
      outline: none;
      box-shadow: inset 0 -3px 0 0 var(--dark-color);
    }
    
    ::placeholder {
      color: grey;
      opacity: 1;
    }
    
    footer {
      color: rgb(133, 31, 31);
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
    }

    .footer {
      display: inline-block;
      color: black;
      font-size: 1.4rem;
      margin: 1rem;
    }